* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 124px;
}

.top__bar {
    height: 40px;
    background-color: black;
    color: white;
}

.top__bar .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.top__bar__img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.top__bar__text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav {
    height: 85px; 
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.nav__right {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav__list {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav__list a {
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 400;
}

.button__buy__now {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer; 
    height: 100%;
}

.button__learn__more {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color: #FF9900;
}

.button__buy__now:hover img {
    transform: scale(1.05);
}

.button__learn__more:hover {
    text-decoration: none;
    color: #e68a00;
}

.button__play {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer; 
    height: 100%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
    top: 50%;
    left: 50%;
}

.reviews__button {
    background: none;
    border: none;
    cursor: pointer;  
}

.reviews__button:hover {
    transform: scale(1.05);
}

.button__play:hover img {
    transform: scale(1.1);
}

.subscribe__button {
    flex: none;
    width: 174px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    background-color: #e68a00;
    color: black;
}

.subscribe__button:hover {
    background-color: #cc7700;
}

.hero {
    position: relative;
    min-height: 713px;
    width: 100%;
}

.hero__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 151px;
    position: relative;
}

.hero__info {
    max-width: 713px;
}

.hero__info h1 {
    margin-bottom: 24px;
    font-size: 38px;
    font-weight: 700; 
    line-height: 46px;
}

.hero__info p {
    margin-bottom: 24px; 
}

.hero__actions {
    display: flex;
    align-items: center;
    gap: 24px;
}

.hero__img {
    position: absolute;
    margin-left: 586px;
    top: 3px;
    z-index: 2;
}

.hero__img img {
    width: 644px;
    height: auto;
    display: block;
    transform: translateX(35px);
}

.hero__bg {
    position: absolute;
    left: 1110px;
    top: 27px;
    z-index: 3;
    transform: translateX(36px);
}

.hero__price {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 30px;
}

.hero__price span:first-child {
    display: inline-block;     
    width: 84px;               
    height: 46px;              
    font-size: 36px;           
    font-weight: 700;          
    line-height: 46px;         
    text-align: center;       
    color: #FF9900;
}

.hero__price span:nth-child(2) {
    display: inline-flex;          
    justify-content: center;        
    align-items: center;
    width: 115px;
    height: 31px;
    font: 700 16px 'Poppins', sans-serif;
    background: #f9d290;
    border-radius: 50px;
}

.hero__price del {
    display: inline-block;
    font-size: 24px;
    text-align: center;
    box-sizing: border-box;
}

.move {
    position: relative;
    height: 600px;
    overflow: hidden;
}

.move__section {
    height: 100%;
    margin-top: 11px;
}

.move img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.app {
    background-color: #F8F9FF;
}

.app__container {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.app__container--shift {
    transform: translateX(-5px);
}

.app__content {
    display: flex;
    flex-direction: column;
    margin-left: 142px;
    gap: 64px;
}

.app__content--speaker {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.app__features-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.app__features h2 {
    font-size: 37px;
    font-weight: 700;
}

.app__features p {
    margin-top: 12px;
}

.app__image {
    max-width: 463px;
    flex-shrink: 0;
}

.app__speaker {
    max-width: 588px;
    margin-left: 93px;  
}

.reviews {
    margin-top: 100px;
    overflow-x: hidden;
}

.reviews__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -4px;
    padding-top: 87px;
    margin-bottom: 79px;
}

.reviews__top h2 {
    font-size: 37px;
    font-weight: 700;
}

.reviews__nav {
    display: flex;
    gap: 20px;
}

.reviews__list {
    display: flex;
    margin-left: -5px;
    margin-top: -3px;
    gap: 20px;
}

.reviews__item {
    flex: 0 0 513px;
    height: 256px;
    margin-bottom: 100px;
    border-radius: 30px;
    background-color: #F8F9FF;
}

.reviews__item h3 {
    font-size: 24px;
    font-weight: 700;
}

.reviews__item p {
    margin-top: 19px;
    margin-left: 40px;
}

.reviews__item:first-child {
    background-color: #54372B;
    font-weight: 700;
}

.reviews__header {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 40px;
    gap: 20px;
}

.reviews__info {
    display: flex;
    flex-direction: column;
    margin-top: -15px;
    gap: 10px;
}

.reviews__rating {
    width: 134px;
}

.subscribe__container { 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    z-index: 1;
}

.subscribe__container img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}

.subscribe__container p {
    position: relative;
    text-align: center;
    color: white;
    z-index: 1;
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 20px;
}

.subscribe__form {
    display: flex;
    justify-content: center;
    z-index: 1;
}

.subscribe__input-wrapper {
    display: flex;
    align-items: center;
    width: 486px;
    border-radius: 30px;
    overflow: hidden;
    background-color: #fff;
}

.subscribe__input-wrapper input {
    flex: 1;
    height: 54px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background: #fff;
    color: #000;
}

.footer {
    height: 266px;
    color: white;
    background-color: black;
}

.footer a {
    color: white;
}

.footer__inner {
    display: flex;
    align-items: flex-start;
    padding-top: 40px;
    gap: 64px;
}

.footer__logo {
    margin-right: auto; 
    margin-top: -24px;
    margin-left: -30px;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__social p {
    margin-bottom: 16px;
}